#timeWindow {
  position: absolute;
  z-index: 3;
  top: 40px;
  left: 1px;
  max-width: 100%;
  min-height: 160px;
  padding: 0px 10px;
  border-radius: 2px;
  box-shadow: 0 0 4px 0px black;
  background-color: white;

  p {
    margin: 5px 0;
  }

  #commonWindows,
  #customWindow {
    max-width: 270px;
  }

  #commonWindows {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
    gap: 5px;

    .prewindow {
      text-transform: uppercase;
      text-align: center;
      width: 40px;
      padding: 5px;
      color: white;
      background-color: var(--button-color);
    }
  }

  #customWindow {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;

    input,
    select {
      height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      font-size: 1rem;
    }

    label {
      width: 100%;
      flex-shrink: 0;
    }

    input {
      width: 165px;
    }
  }
}
