#signwall {
  form,
  header,
  h2 {
    width: 700px;
    max-width: 100%;
    background-color: white;
    padding: 10px;
  }

  @media (max-width: 500px) {
    form {
      height: 100%;
    }
  }
}
