#signwall {
  h2,
  a {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: var(--modal-width);
    max-width: 100%;
    height: calc(var(--modal-height) / 2);
    background-color: white;
  }

  h2 {
    align-items: flex-end;
  }

  a {
    align-items: flex-start;
    text-decoration: underline;
  }
}
