#dashboard {
  --drop-height: 40px;
  position: relative;
  justify-content: initial;
  flex-direction: column;
  row-gap: 20px;
  height: 100vh;
  overflow-x: hidden;

  header {
    display: flex;
    width: 100%;

    h1 {
      display: flex;
      align-items: center;
      padding: 0;
    }

    #dropSettings {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
      width: 60px;

      &:hover #dropList {
        visibility: visible;
      }

      svg {
        font-size: 1.6rem;
      }

      &,
      #dropCta,
      #dropList {
        background-color: white;
        transition: width 1s;
        z-index: 1;
      }

      #dropCta {
        display: flex;
        padding: 5px 0;
        font-size: 1.6rem;
        height: var(--drop-height);
        width: var(--drop-height);
      }

      #dropCta,
      .dropAction {
        border: none;

        svg {
          width: 30px;
          font-size: 1.6rem;
        }
      }

      .dropAction {
        display: flex;
        align-items: center;
        justify-content: left;
        text-align: left;
        min-height: var(--drop-height);
        max-width: 100%;
        column-gap: 15px;
        font-size: 20px;
        padding: 0 10px;

        &:hover {
          background-color: #e7e6e6;
        }

        &:last-child {
          border-top: 0.5px solid rgba(0, 0, 0, 0.426);
        }
      }

      #dropList {
        position: absolute;
        top: var(--drop-height);
        display: flex;
        flex-direction: column;
        width: 200px;
        visibility: hidden;
        box-shadow: 0 0 3px 0 black;
        row-gap: 10px;

        button:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }

      svg path {
        fill: var(--button-color);
      }
    }

    @media (max-width: 400px) {
      #dropSettings {
        position: absolute;
        right: 0;
        height: fit-content;

        #dropCta,
        #dropList {
          width: 100%;
        }

        &:hover {
          width: 100%;
        }

        #dropList {
          box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  header {
    padding: 10px;
  }

  main {
    width: 100%;
    max-width: 1200px;
  }

  button {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
  }
}
