#importUser {
  form,
  h1 {
    margin: 0 auto;
    width: 600px;
    background-color: white;
    padding: 10px;
  }

  h1 {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  form {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
