.actionClose {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border: none;
  z-index: 1;
  flex-shrink: 0;

  svg {
    font-size: 2em;
  }
}
