header#credHeader {
  column-gap: 10px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  padding: 0;
  margin: 10px 0;

  button {
    display: flex;
    align-items: flex-start;
  }
}
