.loading {
  display: flex;
  width: 80px;
  height: 30px;
  background: none;
  justify-content: center;
  align-items: center;

  span {
    display: flex;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  span:after,
  span:before {
    content: "";
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin: 0 15px;
  }

  span,
  span::before,
  span::after {
    background-color: var(--button-color);
    animation: load 1s ease-in-out infinite;
  }

  span {
    animation-delay: 300ms;
  }

  span:after {
    animation-delay: 600ms;
  }

  @keyframes load {
    0% {
      background-color: var(--button-color);
    }
    33% {
      background-color: black;
    }
    66% {
      background-color: var(--button-color);
    }
    100% {
      background-color: var(--button-color);
    }
  }
}
