#register {
  width: 400px;
  height: 100%;
  background-color: white;
  padding: 10px 15px;
  margin-left: auto;
  max-width: 100%;

  nav {
    display: flex;
    width: 100%;
  }

  .navlink {
    width: 100%;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.4);
    padding: 5px 0;
  }

  .navlink.active {
    color: black;
    border-bottom: 1px solid black;
  }
}
