.notify {
  position: absolute;
  display: flex;
  align-items: center;
  right: 10px;
  top: 210px;
  min-height: 70px;
  width: 400px;
  max-width: 90%;
  padding: 5px 10px;
  gap: 20px;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.427);
  animation: linear entry 400ms 1 forwards;
  background-color: white;

  span,
  button {
    flex-shrink: 0;

    svg {
      min-height: 26px;
    }
  }
  button {
    border: none;
    margin-left: auto;
  }

  #operationType {
    font-size: 18px;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    font-weight: bold;

    p {
      text-transform: none;
    }
  }

  svg[data-icon="circle-check"] path {
    fill: green;
  }

  svg[data-icon="circle-exclamation"] path {
    fill: red;
  }

  svg[data-icon="circle-info"] path {
    fill: var(--button-color);
  }

  @media (max-width: 420px) {
    right: auto;
  }

  @keyframes entry {
    from {
      margin-right: -400px;
    }
    to {
      margin-right: 0;
    }
  }
}
